.codeBox {
  background-color: var(--dark-color-container-background);
  color: var(--dark-color-text);
  padding: var(--padding-md);
  border-radius: var(--border-radius-md);
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.8rem;
  position: relative;
  margin: var(--spacing-unit);
  max-width: 50vh;
  max-height: 400px;
  overflow: auto;
  overflow-y: scroll;
}
  
.codeBox::before {
  content: attr(data-lang);
  position: absolute;
  top: calc(var(--spacing-unit) * 2);
  left: var(--padding-md);
  background-color: var(--dark-color-background);
  color: var(--dark-color-text);
  padding: calc(var(--spacing-unit) / 2) var(--spacing-unit);
  border-radius: var(--border-radius-sm);
  font-size: 12px;
}
  
  .codeBox pre {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .codeBox .copyButton {
    position: absolute;
    top: calc(var(--spacing-unit) * 2);
    right: var(--padding-md);
    background-color: var(--dark-color-background);
    color: var(--dark-color-text);
    border: none;
    padding: calc(var(--spacing-unit) / 2) var(--spacing-unit);
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    font-size: 12px;
  }
  
  .codeBox .dark {
    background-color: var(--dark-color-container-background);
    color: var(--dark-color-text);
  }
  
  .codeBox .copyButton:hover {
    background-color: #3e3e3e;
  }
  .copyButton.copied {
    animation: copiedAnimation 0.5s ease-in-out;
  }
  
  @keyframes copiedAnimation {
    0% { background-color: #1e1e1e; }
    50% { background-color: #206023; }
    100% { background-color: #1e1e1e; }
  }